# Compiled Object files
*.slo
*.lo
*.o
*.os
*.obj
*.swp
tags
git_version.h

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/*

*.swo
# Scons
*.dblite
config.log

# Misc
.phony_target
.xopt/*
contrib/*
